body {
			font-family: 'ZCOOL QingKe HuangYou', cursive;
		}



		/* nav code  */

		#blackbulls-nav {
			padding-bottom: 20px;
			background-color: white;

		}

		#blackbulls-nav .navbar-brand {
			font-weight: 950;
			color: #000;
		}

		#blackbulls-nav .navbar-toggler {
			font-size: 12px;
			font-weight: 800;
			padding: 13px;
			text-transform: uppercase;
			color: #000;
		}

		#blackbulls-nav .navbar-toggler,
		.navbar-brand {
			margin-top: 30px;
			margin-bottom: 0;
		}


		#blackbulls-nav .navbar-nav>li.nav-item>a {
			font-size: 12px;
			font-weight: 800;
			letter-spacing: 1px;
			text-transform: uppercase;
		}

		#blackbulls-nav .navbar-nav>li.nav-item :hover {
			background: #000;
			color: #fff;
			width: 100%;
		}

		/* Header code  */
		.clover-title-heading {
			width: 100%;
			color: white;

		}

		.clover-title-heading h1,
		.subheading {
			font-size: 54px;
			text-align: center;

		}

		.clover-title-heading .subheading {
			font-size: 28px;
			font-weight: 300;
			line-height: 1.1;
			display: block;
			margin: 10px 0 0;
		}



		header.clover-display {
			position: relative;
			background: no-repeat center center;
			background-color: #000;
			background-size: cover;
			background-attachment: scroll;
			margin-bottom: 40px;
			padding: 300px 0;
		}

		.clover-display .bg-shadow {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: rgb(1, 1, 1, 0.5)
		}

      