{% extends 'base.html' %} {% block content %}
<h3>Add Characters</h3>

<form action="{{url_for('insert_character')}}" method="POST" class="col-12">

	<div class="row">
		<div class=" input-group mb-3 col-12">
			<input type="file"   accept="image/*"  onchange="previewImage(event);">
			<img id="preview" src="../static/images/place_holder.png"  alt="preview of image" width="100" height="100" />
			<!-- https://stackoverflow.com/questions/4459379/preview-an-image-before-it-is-uploaded -->
		</div>
	</div>
	<div class="form-group">
		<label for="">Character name</label>
		<input class="form-control" id="character_name" name="character_name" type="text" placeholder="Character name">
  </div>
		<div class="form-group">
			<label for="">Affinity</label>
			<select class="form-control" id="affinity" name="affinity_name">
                  <option value="" disabled selected>Select Affinity</option>
                  {% for affinity in affinity %}
                      <option value="{{affinity.affinity_name}}">{{affinity.affinity_name}}</option>
                  {% endfor %}
                </select>
		</div>

		<div class="form-group">
			<label for="">Character description</label>
			<textarea name="character_description" id="character_description" class="form-control"></textarea>
		</div>


		<div class="row">
			<button class="btn" type="submit" name="action">Add Character
             </button>
		</div>

</form>




{% endblock %}