<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
	</script>

	<script type="text/javascript" src="../static/js/new.js">
	</script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
	<link href="../static/css/style2.css" rel="stylesheet" type="text/css">
	<title>Clover kingdom codex</title>
	<style>
		.footer-style {
			background-color: #2b2d2f;
		}
	</style>
</head>

<body>

	<nav class=" nav-sm  navbar navbar-expand-lg navbar-light fixed-top" id="blackbulls-nav">
		<div class="container-fluid">
			<a class="navbar-brand" href="/static/index.html">Black Clover </a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/home">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/characters">Characters</a>
					</li>

				</ul>
			</div>
		</div>
	</nav>

	<header class="clover-display"
		style="background-image: url('https://dg31sz3gwrwan.cloudfront.net/fanart/331753/62037615-0-q80.jpg')">
		<div class="bg-shadow"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 col-sm-6 mx-auto">
					<div class="clover-title-heading">
						<h1>Black Clover</h1>
						<span class="subheading">Clover kingdom codex !</span>
					</div>
				</div>
			</div>
		</div>
	</header>


	<main class="clover-bg  "
		style="background-image: url('https://fsa.zobj.net/crop.php?r=-Q1mwqvb26H9LDOhzqBKfRQF9NYZ_lEfnmdigPWE3Ho2THoLIdAyMDPikOHxQj2Tc1F1rriiUYXHSm1YakzrpFP2ojbQE2f1QF8azzLeRDNvOAV1MhXum8fbDNrLBa2LD-Q2h_m-xctC5o8bbbTbou_W0wORF00CXDnu1gnao3o9WXQa_RWn648EvVs')">

		{% block content %}



		{% endblock %}
	</main>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<div class="flash-box">
		<ul class=flashes>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
	{% endwith %}

	





</body>

</html>