<!DOCTYPE html>

<!--CHARACTERS CARDS-->

<div class=" red row">



	{% for character in characters %}

	<div class=" red  col-lg-4 col-md-6 outer-card">
		<div class="card  character-card">
			<div class=" card-body">
				<div class="image-container">
					<img class="character-image"  src="{{ character.img_src }}">
				</div>
					<h5 class="card-title">{{character.character_name}}</h5>
					<h6>{{character.affinity_name}}</h6>
					<a href="{{url_for('full_page' , character_id=character._id)}}" class="btn btn-dark">full Card</a>
				</div>
			</div>
		</div>


		{% endfor %}


	</div>