{% extends 'base.html' %}
{% block content %}


<h2> Full character card </h2>



{% for character in characters %}

<div class="container full-character-container">
	<div class="row ">
		<div class="col-lg-6 col-md-5 col-12  ">
			<img class="mt-5 mt-lg-5 ml-lg-4 full-character-image "  src="{{ character.img_src }}">
       </div>
			<div class="col-lg-6 col-md-7 col-12 my-5 ">
				<label>Character Name </label>
				<h5 class="card-title">{{character.character_name}}</h5>
				<label>Affinity name </label>
				<h6>{{character.affinity_name}}</h6>
				<label>Character age</label>
				<h6 class="card-subtitle mb-2 text-muted">{{character.character_age}}</h6>
				<label> Gender </label>
				<h6 class="card-subtitle mb-2 text-muted">{{character.gender_name}}</h6>
				<label> Status  </label>
				<h6 class="card-subtitle mb-2 text-muted">{{character.status_name}}</h6>
				<label>Species </label>
				<h6 class="card-subtitle mb-2 text-muted">{{character.character_species}}</h6>
                <label>Squad </label>
				<h6 class="card-subtitle mb-2 text-muted">{{character.squad_name}}</h6>
                <label> Country </label>
				<h6 class="card-subtitle mb-2 text-muted">{{character.country_name}}</h6>
				<label>Character description </label>
				<h6 class="card-subtitle mb-2 text-muted">{{character.character_description}}</h6>
			</div>
			<div class="row">
				<div class="col-12 pb-3 pl-5">
					<a href="{{ url_for('delete_character' , character_id=character._id)}}"
						class="btn btn-dark ">Delete</a>
				
				<a href="{{url_for('edit_character' , character_id=character._id)}}"
						class=" btn btn-dark ">Edit</a>
                
					<a href="{{url_for('characters_page')}}"
						class=" btn btn-dark ">Back to characters </a>
				</div>
			</div>

		</div>



		{% endfor %}

	</div>


	{% endblock %}