<div class="container search-container">
	<div class="jumbotron">
		<form action="{{ url_for('search_results') }}" method="POST">
			<div class="row">
				<div class="col-12">
					<h3>Search For Character | <div class="user-search-info">
                    <span><small>(To search for a character enter a name e.g "Asta")</small> </span> </br>
                    <span><small>(To Add a character click the "Add Character" button)</small> </span> </br>
					<span><small>(if the search results come up with nothing hit the "Refresh Results" button to display cards again)</small> </span>
						</div>
					</h3>
					<hr class="my-4">
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<input class="form-control" id="search_text" name="search_text" type="text" >
			</div>
					<div class="col-6">
						<button class="btn btn-dark" type="submit" name="action">Search</button>
						<li class="btn btn-dark"><a href="{{url_for('add_characters')}}">Add Character</a></li>
						<li class="btn btn-dark"><a href="{{url_for('characters_page')}}">Refresh Results</a></li>
					</div>
				</div>


		</form>



	</div>

</div>